body{
  background-color: var(--primary-color);
}

.navigationPanel{
  display:flex;
  align-items: center;
  justify-content: center;
}

.navigationPanel .title{
  font-size: 72px;
  color: white;
}

.cardPanel{
  max-width: 1500px;
  width: 75%;
  padding: 0px 40px 0px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.cardPanel .cardList{
  list-style: none;
  padding: 0px;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.cardPanel .cardList .cardListItem{
  align-self: center;
}
