body{
  background-color: rgba(85, 166, 156, 1);
}

.cardPanel{
  padding: 0px 40px 0px;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
}

.Content{
  position: absolute;
  width: 1024px;
  left: 50%;
  transform: translateX(-50%);
}